src/ApiGateway/OZTF.API.Gateway/obj/OZTF.API.Gateway.csproj.nuget.cache
src/ApiGateway/OZTF.API.Gateway/obj/OZTF.API.Gateway.csproj.nuget.dgspec.json
src/ApiGateway/OZTF.API.Gateway/obj/OZTF.API.Gateway.csproj.nuget.g.props
src/ApiGateway/OZTF.API.Gateway/obj/OZTF.API.Gateway.csproj.nuget.g.targets
src/ApiGateway/OZTF.API.Gateway/obj/project.assets.json
src/ApiGateway/OZTF.API.Gateway/obj/Debug/netcoreapp3.1/OZTF.API.Gateway.AssemblyInfo.cs
src/ApiGateway/OZTF.API.Gateway/obj/Debug/netcoreapp3.1/OZTF.API.Gateway.AssemblyInfoInputs.cache
src/ApiGateway/OZTF.API.Gateway/obj/Debug/netcoreapp3.1/OZTF.API.Gateway.assets.cache
src/ApiGateway/OZTF.API.Gateway/obj/Debug/netcoreapp3.1/OZTF.API.Gateway.csprojAssemblyReference.cache
src/Services/Article/OZTF.Article.Application/obj/OZTF.Article.Application.csproj.nuget.cache
src/Services/Article/OZTF.Article.Application/obj/OZTF.Article.Application.csproj.nuget.dgspec.json
src/Services/Article/OZTF.Article.Application/obj/OZTF.Article.Application.csproj.nuget.g.props
src/Services/Article/OZTF.Article.Application/obj/OZTF.Article.Application.csproj.nuget.g.targets
src/Services/Article/OZTF.Article.Application/obj/project.assets.json
src/Services/Article/OZTF.Article.Application/obj/Debug/netcoreapp3.1/OZTF.Article.Application.AssemblyInfo.cs
src/Services/Article/OZTF.Article.Application/obj/Debug/netcoreapp3.1/OZTF.Article.Application.AssemblyInfoInputs.cache
src/Services/Article/OZTF.Article.Application/obj/Debug/netcoreapp3.1/OZTF.Article.Application.assets.cache
src/Services/Article/OZTF.Article.Domain.Core/obj/OZTF.Article.Domain.Core.csproj.nuget.cache
src/Services/Article/OZTF.Article.Domain.Core/obj/OZTF.Article.Domain.Core.csproj.nuget.dgspec.json
src/Services/Article/OZTF.Article.Domain.Core/obj/OZTF.Article.Domain.Core.csproj.nuget.g.props
src/Services/Article/OZTF.Article.Domain.Core/obj/OZTF.Article.Domain.Core.csproj.nuget.g.targets
src/Services/Article/OZTF.Article.Domain.Core/obj/project.assets.json
src/Services/Article/OZTF.Article.Domain.Core/obj/Debug/netcoreapp3.1/OZTF.Article.Domain.Core.AssemblyInfo.cs
src/Services/Article/OZTF.Article.Domain.Core/obj/Debug/netcoreapp3.1/OZTF.Article.Domain.Core.AssemblyInfoInputs.cache
src/Services/Article/OZTF.Article.Domain.Core/obj/Debug/netcoreapp3.1/OZTF.Article.Domain.Core.assets.cache
src/Services/Article/OZTF.Article.Domain.Core/obj/Debug/netcoreapp3.1/OZTF.Article.Domain.Core.csprojAssemblyReference.cache
src/Services/Article/OZTF.Article.Domain/obj/OZTF.Article.Domain.csproj.nuget.cache
src/Services/Article/OZTF.Article.Domain/obj/OZTF.Article.Domain.csproj.nuget.dgspec.json
src/Services/Article/OZTF.Article.Domain/obj/OZTF.Article.Domain.csproj.nuget.g.props
src/Services/Article/OZTF.Article.Domain/obj/OZTF.Article.Domain.csproj.nuget.g.targets
src/Services/Article/OZTF.Article.Domain/obj/project.assets.json
src/Services/Article/OZTF.Article.Domain/obj/Debug/netcoreapp3.1/OZTF.Article.Domain.AssemblyInfo.cs
src/Services/Article/OZTF.Article.Domain/obj/Debug/netcoreapp3.1/OZTF.Article.Domain.AssemblyInfoInputs.cache
src/Services/Article/OZTF.Article.Domain/obj/Debug/netcoreapp3.1/OZTF.Article.Domain.assets.cache
src/Services/Article/OZTF.Article.Infra.Data/obj/OZTF.Article.Infra.Data.csproj.nuget.cache
src/Services/Article/OZTF.Article.Infra.Data/obj/OZTF.Article.Infra.Data.csproj.nuget.dgspec.json
src/Services/Article/OZTF.Article.Infra.Data/obj/OZTF.Article.Infra.Data.csproj.nuget.g.props
src/Services/Article/OZTF.Article.Infra.Data/obj/OZTF.Article.Infra.Data.csproj.nuget.g.targets
src/Services/Article/OZTF.Article.Infra.Data/obj/project.assets.json
src/Services/Article/OZTF.Article.Infra.Data/obj/Debug/netcoreapp3.1/OZTF.Article.Infra.Data.AssemblyInfo.cs
src/Services/Article/OZTF.Article.Infra.Data/obj/Debug/netcoreapp3.1/OZTF.Article.Infra.Data.AssemblyInfoInputs.cache
src/Services/Article/OZTF.Article.Infra.Data/obj/Debug/netcoreapp3.1/OZTF.Article.Infra.Data.assets.cache
src/Services/Article/OZTF.Article.Service/obj/OZTF.Article.Service.csproj.nuget.cache
src/Services/Article/OZTF.Article.Service/obj/OZTF.Article.Service.csproj.nuget.dgspec.json
src/Services/Article/OZTF.Article.Service/obj/OZTF.Article.Service.csproj.nuget.g.props
src/Services/Article/OZTF.Article.Service/obj/OZTF.Article.Service.csproj.nuget.g.targets
src/Services/Article/OZTF.Article.Service/obj/project.assets.json
src/Services/Article/OZTF.Article.Service/obj/Debug/netcoreapp3.1/12fbc7ffe642ca7e_greet.protodep
src/Services/Article/OZTF.Article.Service/obj/Debug/netcoreapp3.1/Greet.cs
src/Services/Article/OZTF.Article.Service/obj/Debug/netcoreapp3.1/GreetGrpc.cs
src/Services/Article/OZTF.Article.Service/obj/Debug/netcoreapp3.1/OZTF.Article.Service.AssemblyInfo.cs
src/Services/Article/OZTF.Article.Service/obj/Debug/netcoreapp3.1/OZTF.Article.Service.AssemblyInfoInputs.cache
src/Services/Article/OZTF.Article.Service/obj/Debug/netcoreapp3.1/OZTF.Article.Service.assets.cache
src/Services/Article/OZTF.Article.Service/obj/Debug/netcoreapp3.1/OZTF.Article.Service.csprojAssemblyReference.cache
src/Services/User/OZTF.User.Application/obj/OZTF.User.Application.csproj.nuget.cache
src/Services/User/OZTF.User.Application/obj/OZTF.User.Application.csproj.nuget.dgspec.json
src/Services/User/OZTF.User.Application/obj/OZTF.User.Application.csproj.nuget.g.props
src/Services/User/OZTF.User.Application/obj/OZTF.User.Application.csproj.nuget.g.targets
src/Services/User/OZTF.User.Application/obj/project.assets.json
src/Services/User/OZTF.User.Application/obj/Debug/netcoreapp3.1/OZTF.User.Application.AssemblyInfo.cs
src/Services/User/OZTF.User.Application/obj/Debug/netcoreapp3.1/OZTF.User.Application.AssemblyInfoInputs.cache
src/Services/User/OZTF.User.Application/obj/Debug/netcoreapp3.1/OZTF.User.Application.assets.cache
src/Services/User/OZTF.User.Domain.Core/obj/OZTF.User.Domain.Core.csproj.nuget.cache
src/Services/User/OZTF.User.Domain.Core/obj/OZTF.User.Domain.Core.csproj.nuget.dgspec.json
src/Services/User/OZTF.User.Domain.Core/obj/OZTF.User.Domain.Core.csproj.nuget.g.props
src/Services/User/OZTF.User.Domain.Core/obj/OZTF.User.Domain.Core.csproj.nuget.g.targets
src/Services/User/OZTF.User.Domain.Core/obj/project.assets.json
src/Services/User/OZTF.User.Domain.Core/obj/Debug/netcoreapp3.1/OZTF.User.Domain.Core.AssemblyInfo.cs
src/Services/User/OZTF.User.Domain.Core/obj/Debug/netcoreapp3.1/OZTF.User.Domain.Core.AssemblyInfoInputs.cache
src/Services/User/OZTF.User.Domain.Core/obj/Debug/netcoreapp3.1/OZTF.User.Domain.Core.assets.cache
src/Services/User/OZTF.User.Domain/obj/OZTF.User.Domain.csproj.nuget.cache
src/Services/User/OZTF.User.Domain/obj/OZTF.User.Domain.csproj.nuget.dgspec.json
src/Services/User/OZTF.User.Domain/obj/OZTF.User.Domain.csproj.nuget.g.props
src/Services/User/OZTF.User.Domain/obj/OZTF.User.Domain.csproj.nuget.g.targets
src/Services/User/OZTF.User.Domain/obj/project.assets.json
src/Services/User/OZTF.User.Domain/obj/Debug/netcoreapp3.1/OZTF.User.Domain.AssemblyInfo.cs
src/Services/User/OZTF.User.Domain/obj/Debug/netcoreapp3.1/OZTF.User.Domain.AssemblyInfoInputs.cache
src/Services/User/OZTF.User.Domain/obj/Debug/netcoreapp3.1/OZTF.User.Domain.assets.cache
src/Services/User/OZTF.User.Domain/obj/Debug/netcoreapp3.1/OZTF.User.Domain.csprojAssemblyReference.cache
src/Services/User/OZTF.User.Infra.Data/obj/OZTF.User.Infra.Data.csproj.nuget.cache
src/Services/User/OZTF.User.Infra.Data/obj/OZTF.User.Infra.Data.csproj.nuget.dgspec.json
src/Services/User/OZTF.User.Infra.Data/obj/OZTF.User.Infra.Data.csproj.nuget.g.props
src/Services/User/OZTF.User.Infra.Data/obj/OZTF.User.Infra.Data.csproj.nuget.g.targets
src/Services/User/OZTF.User.Infra.Data/obj/project.assets.json
src/Services/User/OZTF.User.Infra.Data/obj/Debug/netcoreapp3.1/OZTF.User.Infra.Data.AssemblyInfo.cs
src/Services/User/OZTF.User.Infra.Data/obj/Debug/netcoreapp3.1/OZTF.User.Infra.Data.AssemblyInfoInputs.cache
src/Services/User/OZTF.User.Infra.Data/obj/Debug/netcoreapp3.1/OZTF.User.Infra.Data.assets.cache
src/Services/User/OZTF.User.Service/obj/OZTF.User.Service.csproj.nuget.cache
src/Services/User/OZTF.User.Service/obj/OZTF.User.Service.csproj.nuget.dgspec.json
src/Services/User/OZTF.User.Service/obj/OZTF.User.Service.csproj.nuget.g.props
src/Services/User/OZTF.User.Service/obj/OZTF.User.Service.csproj.nuget.g.targets
src/Services/User/OZTF.User.Service/obj/project.assets.json
src/Services/User/OZTF.User.Service/obj/Debug/netcoreapp3.1/12fbc7ffe642ca7e_greet.protodep
src/Services/User/OZTF.User.Service/obj/Debug/netcoreapp3.1/Greet.cs
src/Services/User/OZTF.User.Service/obj/Debug/netcoreapp3.1/GreetGrpc.cs
src/Services/User/OZTF.User.Service/obj/Debug/netcoreapp3.1/OZTF.User.Service.AssemblyInfo.cs
src/Services/User/OZTF.User.Service/obj/Debug/netcoreapp3.1/OZTF.User.Service.AssemblyInfoInputs.cache
src/Services/User/OZTF.User.Service/obj/Debug/netcoreapp3.1/OZTF.User.Service.assets.cache
src/Services/User/OZTF.User.Service/obj/Debug/netcoreapp3.1/OZTF.User.Service.csprojAssemblyReference.cache
